<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Marksheet</title>
</head>
<body>

<div align="right">
    <a href="/logout"> Logout </a>
</div>
<hr>

<table>
    <tr>
        <td><h3 align="right"> Name of Student: </h3></td>
        <td><h3 th:text="${student.lastName + ' ' + student.firstName + ' ' + student.fatherName}"></h3></td>
     </tr>
    <tr>
        <td><h3 align="right">Mother Name: </h3></td>
        <td><h3 th:text="${student.motherName}"></h3></td>

    </tr>
    <tr>
        <td><h3 align="right">Seat No :</h3></td>
        <td><h3 th:text="${student.seatNo}"></h3></td>
    </tr>
</table>

<form method="post" action="/admin/marksheets/save/">

    <input type="hidden" name="idStud" th:value="${student.id}">

    <select name="idSub">
        <option disabled selected> SELECT SUBJECT </option>

        <option th:each="subject : ${listSubject}" th:value="${subject.id}" th:text="${subject.name}"></option>
    </select>

    <input type="number" name="marks" min="0" max="100" placeholder="Marks Obtained">
    <input type="submit" value="SAVE"> <input type="reset" value="CLEAR">

</form>
<br><br>

<table border="1">
    <tr>
        <th> Sr. No.</th>
        <th> Subject Code </th>
        <th> Subject Name </th>
        <th> Min Marks </th>
        <th> Max Marks </th>
        <th> Obtained Marks </th>
    </tr>

    <tr th:each="marksheetDet, iterStatus : ${ListMarksheetDet}">
        <td slign="right" th:text="${iterStatus.index + 1}">  </td>
        <td th:text="${subjectRepo.getReferenceById(marksheetDet.idSubject).code}">  </td>
        <td th:text="${subjectRepo.getReferenceById(marksheetDet.idSubject).name}"> Core Java </td>
        <td th:text="${subjectRepo.getReferenceById(marksheetDet.idSubject).minMarks}" align="right">  </td>
        <td th:text="${subjectRepo.getReferenceById(marksheetDet.idSubject).maxMarks}" align="right">  </td>
        <td th:text="${marksheetDet.marks}" align="right">  </td>
    </tr>
</table>
</body>
</html>